/* COMEÇO DA PÁGINA LOGO/TÍTULO */
header{

	height: 100px;
	width: 1500px;
	background-color: white;
	opacity: 0.9;

}

header img{

	max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    position: absolute;
 left: 50px;
}


h1{

font-size: 30px;
font-family: Lucida console;
color: white;

position: absolute;
top: 90px;
left: 25px;

}

/* FIM DO LOGO/TÍTULO*/

/*                      BACKGROUND DA PÁGINA                     */
#fundo{
	height: 600px;
	width: 960px;
	background-color: white;
	opacity: 0.9;
	position: absolute;
	top: 108px;
	left: 200px;

}

body {
	background-image: url("teste.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #000;

}

#background{


background-color: white;
opacity: 0.9;
width: 1000px;
height: 500px;
position: absolute;
left: 200px;

}

/*                                                                */




/*                      NOME DO RELATÓRIO                           */
h2{

font-size: 30px;
font-family: Lucida console;
color: black;

position: absolute;
top: -100px;
left: 250px;

}

/*                                                                   */

/*                      RECEITA                           */

h3{

    position: relative;
    left: 700px;
    top: 60px;

}

h4{

    font-size: 25px;
    font-family: Lucida console;
    position:relative;
    left: 10px;
    top: -70px;
}

h5{

    font-size: 12px;
    font-family: Lucida console;
    position:relative;
    left: 30px;
    top: -90px;


}
/*                                                                   */

/*                               TABELA                              */

table{

    position:relative;
    top:-100px;
    left:50px;


}

#numero{
    position:relative;
    left: -40px;
    width:100px;
    height:20px;

}

#nome{
    position:relative;
    left: -70px;
    width:200px;
    height:0px;

}

#preco{

    position:relative;
    left: -50px;
    width:150px;
    height:0px;

}

#quantidade{

    position:relative;
    left: -40px;
    width:100px;
    height:0px;


}

#dados{

    position:relative;
    top:0px;
    left:0px;


}


/*               BOTÕES DE LINK PARA OUTRAS PÁGINAS                */


#renomear{

    position:relative;
    top:0px;
    left: 470px;

}


#caixa{

    position:relative;
    top:10px;
    left:470px;


}

#salvar{

	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
	position:relative;
	left:-180px;


}

#nao_salvar{

	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
	position:relative;

	left: 200px;

}




/*                        TABELAS                            */




/*                RODAPÉ DO SITE                     */

footer{

	font-family: sans-serif;
	height: 10px;
	font-size: 10px;
	opacity: 0.9;
	position: relative;
	top: 400px;
	left: 400px;
}

#fale{

	font-size: 14px;
	position: relative;
	bottom: -30px;
	left: 200px;
	color: black;
}

 #link1{
 	position: relative;
 	bottom: -25px;
 	left: 30px;
 	width: 120px;
 	color: black;
 }
  #link2{
  	 position: relative;
 	bottom: 0px;
 	left: 180px;
 	width: 120px;
 	color: black;
 }
  #link3{
 	position: relative;
 	bottom: 20px;
 	left: 380px;
 	width: 120px;
 	color: black;
 }

 p a{

 	text-decoration: none;
	color: black;
 }

 /*              FIM                */